:root {
  --color-first: #303030;
  --color-second: #9da4bd;
  --color-third: rgba(157, 164, 189, 0.6);
  --color-fourth: #ffffff;
  --color-fifth: #ff6c00;
  --color-sixth: #555555;
  --color-seventh: #f7f7f7;
  --color-eighth: rgba(157, 164, 189, 0.4);
  --color-ninth: #191c26;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-first);
  background-color: var(--color-fourth);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.about,
.prices,
.advantages,
.masters,
.portfolio,
.contacts {
  padding: 130px 0;
}

/* Header */

/* .header {
  background-color: var(--color-sixth);
} */

.header-container {
  position: relative;
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 70px;
}

.header-list-link {
  display: flex;
}

.header-icon {
  width: 68px;
  height: 55px;
  fill: currentColor;
}

.header-logo {
  color: inherit;
}

.header-link,
.address-link {
  font-family: inherit;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--color-fourth);
  padding: 40px 20px 22px;
  display: block;
}

.header-link:hover,
.address-link:hover,
.header-link:focus,
.address-link:focus {
  color: var(--color-fifth);
}

.header-button,
.prices-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--color-fifth);
  border-radius: 25px;
  cursor: pointer;
  color: var(--color-fourth);
  background: none;
  padding: 12px 20px;
}

.header-button:hover,
.header-button:focus,
.prices-button:hover,
.prices-button:focus {
  background-color: var(--color-fifth);
}

.hero-header {
  position: absolute;
  width: 1125px;
  height: 680px;
  top: 0;
  left: 115px;
  z-index: -1;
  background-color: rgba(25, 28, 38, 0.2);

  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Section Hero */

.section-hero {
  position: relative;
  padding-top: 184px;
  padding-bottom: 206px;
}

.hero-social-network,
.footer-social-network {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  text-decoration: none;
  padding: 20px 0;
  color: var(--color-first);
}

.hero-social-network:hover,
.footer-social-network:hover,
.hero-social-network:focus,
.footer-social-network:focus {
  color: var(--color-fifth);
}

.hero-content {
  margin-left: 200px;
}

.hero-pretext {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-third);
  margin: 0 0 20px;
}

.hero-pretext::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--color-third);
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--color-fourth);
  margin: 0 0 20px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--color-second);
  margin: 0;
  max-width: 486px;
}

.hero-container {
  position: relative;
}

.hero-social-list {
  position: absolute;
  left: 57px;
  bottom: -166px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  width: 270px;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}

.hero-social-list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--color-first);
}

.hero-slider-list {
  position: absolute;
  bottom: -166px;
  right: 9px;
  display: flex;
  gap: 14px;
}

.hero-slider {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: right;
  letter-spacing: 0.1em;
  color: var(--color-fourth);
  border: none;
  background: none;
  cursor: pointer;
}

.hero-back::after,
.hero-next::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--color-fourth);
}

.hero-back {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-next {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

/* 
.hero-slider-item {
  display: flex;
} */

/* Section About*/

.about-images {
  display: flex;
  gap: 30px;
}

.about-content {
  padding-left: 64px;
  padding-right: 50px;
}

.about-container {
  display: flex;
}

.about-title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.about-title::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--color-first);
}

.about-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin: 0 0 20px;
}

.about-hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--color-sixth);
  margin: 0 0 20px;
}

.about-tagline {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: var(--color-sixth);
  margin: 0 0 40px;
}

.about-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--color-fifth);
  border-radius: 25px;
  background: none;
  cursor: pointer;
  padding: 12px 20px;
}

.about-button:hover,
.about-button:focus {
  color: var(--color-fourth);
  background-color: var(--color-fifth);
}

/*Section Prices */

.prices {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #111319;
  background-image: linear-gradient(
      rgba(17, 19, 25, 0.8),
      rgba(17, 19, 25, 0.8)
    ),
    url(../images/prices-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.prices-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.prices-item {
  flex-basis: calc(100% / 2);
  padding: 20px 40px;
}

.prices-content {
  display: flex;
  flex-grow: 1;
}

.prices-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--color-fourth);
  margin: 0 0 44px;
}

.prices-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-seventh);
  margin: 0 0 20px 35px;
}

.prices-text::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--color-third);
}

.prices-content-title,
.price-content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--color-second);
  margin: 0;
}

.prices-content-title {
  display: flex;
  flex-grow: 1;
  align-items: baseline;
  flex-basis: calc(100% / 2);
}

.prices-content-title::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 1px;
  margin: 0 4px;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices-button {
  margin: 0 auto;
  display: block;
}

/* Section Advantages */

.advantages-container {
  display: flex;
  justify-content: space-between;
  gap: 130px;
  padding: 0 115px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.advantages-item {
  flex-basis: calc((100% - 30px) / 2);
}

.advantages-item-container {
  padding: 20px 24px;
  background-color: var(--color-seventh);
  margin: 0;
}

.advantages-bottom-left {
  position: relative;
  top: 17px;
  right: 3px;
}

.advantages-top-right,
.advantages-bottom-right {
  position: relative;
  top: 35px;
}

.advantages-numbers {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 0 0 6px;
}

.advantages-numbers::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  padding-top: 7px;
  color: var(--color-fifth);
}

.advantages-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 130px;
  display: block;
}

.advantages-tag-line {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.advantages-tag-line::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--color-first);
}

.advantages-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.advantages-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--color-sixth);
}

/* Section Masters */

.masters {
  background-color: var(--color-seventh);
}

.masters-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.masters-item {
  flex-basis: calc((100% - 60px) / 3);
}

.masters-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.masters-text::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--color-first);
}

.masters-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.masters-name {
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 0 8px;
}

.masters-name-text {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-fifth);
  margin: 0 0 30px;
}

.masters-svg-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.masters-images {
  margin: 0 0 30px;
}

.masters-icon-item {
  background-color: var(--color-fourth);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
/* .masters-icon-item:hover {
  fill:var(--color-fifth);
} */

.masters-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.masters-icon {
  width: 20px;
  height: 20px;
  fill: var(--color-first);
}

.masters-icon-item:hover .masters-icon {
  fill: var(--color-fifth);
}

/* Section Portfolio */

.portfolio-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 0 44px;
}

.portfolio-text::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--color-first);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 90px) / 4);
}

/* Section Contacts */

.contacts {
  max-width: 1280px;
  margin: 0 auto;
  background-image: url(../images/contacts-background.jpg);
  background-color: var(--color-ninth);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}


.contacts-container {
  display: flex;
  justify-content: space-around;
}

.contacts-tagline,
.contacts-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--color-fourth);
  margin: 0;
  padding-bottom: 30px;
}

.contacts-address {
  font-size: 18px;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--color-second);
  margin-bottom: 70px;
}

.contacts-address-link {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.contacts-address-item:last-child > .contacts-address-link {
  text-decoration: underline;
}

.contacts-address-text {
  max-width: 230px;
  margin: 0;
}

.contacts-text {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-fourth);
  margin: 0;
  padding-bottom: 20px;
}

.contacts-text::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--color-eighth);
}

.contacts-text-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--color-second);
  margin: 0;
}

.contacts-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.contacts-icon-map {
  margin-bottom: 20px;
}

/* Section Footer */

.footer {
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 73px;
  padding-right: 35px;
}

.footer-list {
  display: flex;
  align-items: center;
}

.footer-social-network {
  display: block;
  padding: 56px 20px;
}

.footer-instagram {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-instagram::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--color-first);
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--color-second);
  margin: 0;
  padding: 56px 20px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.footer-text::before {
  content: "\00A9";
  color: currentColor;
  width: 12px;
  height: 12px;
  font-size: 15px;
  line-height: 1;
}
